.assign-test-modal-container {
  padding: 24px;
}

.modal-header {
  margin-bottom: 24px;
}

.modal-content {
  margin-bottom: 24px;
}

.modal-footer {
  text-align: right;
}

nz-card {
  margin-bottom: 16px;
}

.test-actions {
  margin-top: 16px;
}
