.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--layout-bg);
}

.register-form {
  width: 400px;
  padding: 20px;
  background-color: var(--content-bg);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 100%;
}
