<div class="register-container">
  <div class="register-form">
    <h2>Register</h2>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your first name!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="firstName" placeholder="First Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your last name!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="lastName" placeholder="Last Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="mail">
            <input type="email" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control nzErrorTip="Password must be at least 6 characters long.">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordSuffix">
            <input
              [type]="showPassword ? 'text' : 'password'"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
          <ng-template #passwordSuffix>
            <span
              nz-icon
              [nzType]="showPassword ? 'eye-invisible' : 'eye'"
              nzTheme="outline"
              (click)="togglePasswordVisibility()"
              style="cursor: pointer; color: rgba(0, 0, 0, 0.45);"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control nzErrorTip="Please confirm your password!">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="confirmPasswordSuffix">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              nz-input
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
          </nz-input-group>
          <ng-template #confirmPasswordSuffix>
            <span
              nz-icon
              [nzType]="showConfirmPassword ? 'eye-invisible' : 'eye'"
              nzTheme="outline"
              (click)="toggleConfirmPasswordVisibility()"
              style="cursor: pointer; color: rgba(0, 0, 0, 0.45);"
            ></span>
          </ng-template>
          <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.dirty" 
               class="ant-form-item-explain-error" style="color: red;">
            Passwords do not match.
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="desiredRole">Register as</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="desiredRole">
            <nz-option nzValue="USER" nzLabel="User"></nz-option>
            <nz-option nzValue="ORGANIZATION_ADMIN" nzLabel="Organization Admin"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="registerForm.get('desiredRole')?.value === 'ORGANIZATION_ADMIN'" 
           formGroupName="organizationDetails">
        <h3>Organization Details</h3>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the organization name!">
            <nz-input-group nzPrefixIcon="bank">
              <input type="text" nz-input formControlName="name" placeholder="Organization Name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select the organization type!">
            <nz-select formControlName="type" nzPlaceHolder="Select organization type">
              <nz-option *ngFor="let type of organizationTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the organization address!">
            <nz-input-group nzPrefixIcon="environment">
              <input type="text" nz-input formControlName="address" placeholder="Organization Address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the organization contact email!">
            <nz-input-group nzPrefixIcon="mail">
              <input type="email" nz-input formControlName="contactEmail" placeholder="Organization Contact Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the organization website!">
            <nz-input-group nzPrefixIcon="global">
              <input type="url" nz-input formControlName="website" placeholder="https://example.com" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the organization phone number!">
            <nz-input-group nzPrefixIcon="phone">
              <input type="tel" nz-input formControlName="phoneNumber" placeholder="Organization Phone Number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the organization description!">
            <nz-input-group>
              <textarea nz-input 
                        formControlName="description" 
                        placeholder="Organization Description" 
                        rows="3"></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-control>
          <button nz-button 
                  nzType="primary" 
                  [nzLoading]="isLoading" 
                  [disabled]="isLoading">
            Register
          </button>
          <span style="margin: 0 8px;">Or</span>
          <a routerLink="/auth/login">login now!</a>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>