.verify-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--layout-bg);

  .loading-spinner {
    text-align: center;

    p {
      margin-top: 16px;
      font-size: 16px;
    }
  }
}
