<div *ngIf="isLoading" class="loading-overlay">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the organization name!">
      <input nz-input id="name" formControlName="name" placeholder="Organization Name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select the organization type!">
      <nz-select id="type" formControlName="type" nzShowSearch nzAllowClear nzPlaceHolder="Select organization type">
        <nz-option *ngFor="let type of organizationTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>Address</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the address!">
      <input nz-input id="address" formControlName="address" placeholder="e.g. 123 Main St, Tbilisi" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contactEmail" nzRequired>Contact Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input a valid email!">
      <input nz-input id="contactEmail" formControlName="contactEmail" placeholder="e.g. contact@example.com" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="phoneNumber" formControlName="phoneNumber" placeholder="+995 123 456 789" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website">Website</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="website" formControlName="website" placeholder="https://example.com" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input id="description" formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }" placeholder="A brief description of the organization."></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logo">Logo</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        nzAction="/api/files/upload"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        (nzChange)="onFileChange($event)">
        <i nz-icon nzType="plus"></i>
        <div class="ant-upload-text">Upload</div>
      </nz-upload>
      <div *ngIf="organization?.logo" class="logo-preview">
        <img [src]="apiUrl + '/' + organization?.logo" alt="Logo Preview" />
        <label nz-checkbox formControlName="deleteLogo">Delete Logo</label>
      </div>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button type="button" (click)="cancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="form.invalid || isLoading" [nzLoading]="isLoading">
      {{ organizationId ? 'Update' : 'Create' }}
    </button>
  </div>
</form>
