<div *ngIf="isLoading" class="loading-overlay">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<form nz-form [formGroup]="form" (ngSubmit)="submitForm()" nzLayout="vertical" class="vacancy-form">
  <div class="form-section">
    <h4 class="section-title">Basic Information</h4>
    <div class="form-row">
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="organizationId" nzRequired>Organization</nz-form-label>
        <nz-form-control nzErrorTip="Please select an organization!">
          <nz-select
            id="organizationId"
            formControlName="organizationId"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select organization"
            [nzDropdownMatchSelectWidth]="false"
          >
            <nz-option
              *ngFor="let org of organizations"
              [nzValue]="org.id"
              [nzLabel]="org.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="title" nzRequired>Job Title</nz-form-label>
        <nz-form-control nzErrorTip="Please input the vacancy title!">
          <input
            nz-input
            id="title"
            formControlName="title"
            placeholder="e.g. Senior Software Engineer"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="form-row">
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="profession" nzRequired>Profession</nz-form-label>
        <nz-form-control nzErrorTip="Please input the profession!">
          <input
            nz-input
            id="profession"
            formControlName="profession"
            placeholder="e.g. Software Development"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="industry" nzRequired>Industry</nz-form-label>
        <nz-form-control nzErrorTip="Please input the industry!">
          <input
            nz-input
            id="industry"
            formControlName="industry"
            placeholder="e.g. Information Technology"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="form-section">
    <h4 class="section-title">Job Details</h4>
    <nz-form-item>
      <nz-form-label nzFor="description" nzRequired>Description</nz-form-label>
      <nz-form-control nzErrorTip="Please input the description!">
        <textarea
          nz-input
          id="description"
          formControlName="description"
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          placeholder="Provide a detailed description of the role."
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="requirements" nzRequired>Requirements</nz-form-label>
      <nz-form-control nzErrorTip="Please input the requirements!">
        <textarea
          nz-input
          id="requirements"
          formControlName="requirements"
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          placeholder="List the qualifications and skills required."
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="responsibilities" nzRequired>Responsibilities</nz-form-label>
      <nz-form-control nzErrorTip="Please input the responsibilities!">
        <textarea
          nz-input
          id="responsibilities"
          formControlName="responsibilities"
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          placeholder="Outline the key responsibilities of the role."
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="form-section">
    <h4 class="section-title">Employment & Compensation</h4>
    <div class="form-row">
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="employmentType" nzRequired>Employment Type</nz-form-label>
        <nz-form-control nzErrorTip="Please select the employment type!">
          <nz-select
            id="employmentType"
            formControlName="employmentType"
            nzPlaceHolder="Select type"
            [nzDropdownMatchSelectWidth]="false"
          >
            <nz-option
              *ngFor="let type of EmploymentType"
              [nzValue]="type"
              [nzLabel]="type"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="experienceLevel" nzRequired>Experience Level</nz-form-label>
        <nz-form-control nzErrorTip="Please select the experience level!">
          <nz-select
            id="experienceLevel"
            formControlName="experienceLevel"
            nzPlaceHolder="Select level"
            [nzDropdownMatchSelectWidth]="false"
          >
            <nz-option
              *ngFor="let level of ExperienceLevel"
              [nzValue]="level"
              [nzLabel]="level"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-label nzFor="salaryMin">Salary Range</nz-form-label>
      <nz-form-control>
        <nz-input-group nzCompact class="salary-group">
          <nz-input-number
            [nzStep]="100"
            formControlName="salaryMin"
            nzPlaceHolder="Min"
          ></nz-input-number>
          <span class="salary-separator">–</span>
          <nz-input-number
            [nzStep]="100"
            formControlName="salaryMax"
            nzPlaceHolder="Max"
          ></nz-input-number>
          <nz-select formControlName="salaryCurrency" class="currency-select">
            <nz-option nzValue="GEL" nzLabel="GEL"></nz-option>
            <nz-option nzValue="USD" nzLabel="USD"></nz-option>
            <nz-option nzValue="EUR" nzLabel="EUR"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  
  <div class="form-section">
    <h4 class="section-title">Location & Status</h4>
    <div class="form-row">
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="location" nzRequired>Location</nz-form-label>
        <nz-form-control nzErrorTip="Please input the location!">
          <input
            nz-input
            id="location"
            formControlName="location"
            placeholder="e.g. Tbilisi, Georgia"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="status" nzRequired>Status</nz-form-label>
        <nz-form-control nzErrorTip="Please select the status!">
          <nz-select id="status" formControlName="status" [nzDropdownMatchSelectWidth]="false">
            <nz-option
              *ngFor="let status of VacancyStatus"
              [nzValue]="status"
              [nzLabel]="status"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="form-row">
      <nz-form-item class="form-item-half">
        <nz-form-label nzFor="applicationDeadline" nzRequired>Application Deadline</nz-form-label>
        <nz-form-control nzErrorTip="Please select the deadline!">
          <nz-date-picker
            id="applicationDeadline"
            formControlName="applicationDeadline"
            style="width: 100%"
            [nzDisabledDate]="disabledDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item-half remote-checkbox">
        <nz-form-control>
          <label nz-checkbox formControlName="isRemote">Remote work available</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="modal-footer">
    <button nz-button type="button" (click)="cancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      [disabled]="form.invalid || isLoading"
      [nzLoading]="isLoading"
    >
      {{ vacancyId ? 'Update' : 'Create' }} Vacancy
    </button>
  </div>
</form>
