<div style="margin-bottom: 16px;">
  <button nz-button nzType="primary" (click)="openCreateModal()">Create Vacancy</button>
</div>

<nz-table
  #basicTable
  [nzData]="vacancies"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  nzShowSizeChanger
  [nzFrontPagination]="false"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="title" [nzSortFn]="true">Title</th>
      <th nzColumnKey="organizationName" [nzSortFn]="true">Organization</th>
      <th>Location</th>
      <th>Status</th>
      <th nzColumnKey="applicationDeadline" [nzSortFn]="true">Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td><a [routerLink]="['/vacancies', data.id]">{{ data.title }}</a></td>
      <td>{{ data.organizationName }}</td>
      <td>{{ data.location }}</td>
      <td><nz-tag [nzColor]="getStatusColor(data.statusName)">{{ data.statusName }}</nz-tag></td>
      <td>{{ data.applicationDeadline | date }}</td>
      <td>
        <a (click)="openEditModal(data)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteVacancy(data.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
